
/* Tailwind usually covers this with arbitrary values, but for clarity: */
.perspective-1000 {
  perspective: 1000px;
  -webkit-perspective: 1000px;
}
.transform-style-3d {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
